<div ng-controller="adminCargosCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>					    
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<div class="md-padding" layout-margin>

	 	<md-card class="semMargem">
            <md-input-container class="campoPesquisa">
                <label>Pesquisar...</label>
                <input type="text" ng-model="filtro">
            </md-input-container>

            <div ng-hide="true">
                {{(itensFiltrados = (cargos | filter: filtro))}}
            </div>
        </md-card>
		<mdt-table mdt-row="{
                      data: itensFiltrados,
                      'table-row-id-key': 'id',
                      'column-keys': [
                          'nome'
                      ]
                      }">
        <mdt-header-row>
            <mdt-column align-rule="left">Cargo</mdt-column>
        </mdt-header-row>
        <mdt-custom-cell column-key="nome">
          <a ng-href="/#/administracao/cadastros/cargos/editar?id={{clientScope.getCargosPorId(rowId).id}}">{{clientScope.getCargosPorId(rowId).nome}}</a>
        </mdt-custom-cell>
    </mdt-table>

    <md-button class="md-fab md-primary" ng-href="/#/administracao/cadastros/cargos/inserir" aria-label="Adicionar">
         <md-icon md-svg-src="img/icons/add.svg"></md-icon>
    </md-button>
	</div>    
</div>
