*{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color: #F2F2F2;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

md-sidenav{
	position: fixed !important;
}

md-toolbar{
	position: fixed;
	margin-top: 0;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14),
		0px 2px 2px 0px rgba(0, 0, 0, 0.098),
		0px 1px 5px 0px rgba(0, 0, 0, 0.084);
}

md-backdrop{
	position: fixed !important;
}

md-primary{
	color: #FFFFFF;
}

md-list-item{
	padding: 0px !important;
}

@media screen and (max-width: 959px) {
	.slidenav{
		width: 0px;
	}
}

@media screen and (min-width: 960px) {
	.slidenav{
		width: 304px;
		height: 64px;
		float: left;		
	}
}

.spaceToolbar{
	width: 100%;
	height: 64px;
}

.menuIcon{
	margin-top: 12px;
	margin-right: 30px;
	float: left;
}

.bigMenuItensSlidenav{
	width: 100%;
	height: 58px;
}

@media screen and (min-width: 526px){
	.cardSubMenu{
		width: 30%;
		height: 100%;
		float: left;
	}
}

@media screen and (max-width: 525px){
	.cardSubMenu{
		width: 95%;
		height: 100%;
		float: left;
	}
}

.verde{
	background-color: #8BC34A;
	color: white;
}

.laranjado{
	background-color: #FF9800;
	color: white;
}

.azul{
	background-color: #00BCD4;
	color: white;
}

.cardSubMenu > md-card-content{
	font-size: 22px;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.semMargem{
	margin: 0;
	text-transform: none;
	text-align: left;
}

.cardSubMenu > .icon{
	margin: auto;
	width: 50%;
	height: 100%;
}

.cardSubMenu > .icon > md-icon{
	width: 100%;
	height: 80px;
}

.inputdemoErrors .inputErrorsApp {
	min-height: 48px;
	font-size: 0.8em;
	text-align: left;
	width: 100%;
}

md-input-container{
	padding: 3px;
}

.campoPesquisa{
	margin:15px;
}

.md-fab {
	position: fixed;
	right: 0;
	top: calc(100% - 2.5em);
	width: 8em;
	margin-top: -2.5em;
}

.md-padding{
	background-color: #F2F2F2;
}

.right{
	float: right;
}