<div layout="column" ng-controller="adminFuncionariosInserirCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<md-content class="md-padding">
    	<md-card>
     		<md-card-content>
				<form name="cliente" ng-submit="inserirFuncionario()">
          <span>Dados Pessoais</span>

          <md-input-container class="md-block">
            <label>Nome</label>
            <input required ng-model="nome" type="text">
          </md-input-container>
          <div layout="row">
            <md-input-container flex="25">
              <label>CEP</label>
              <input required ng-model="cep" ng-pattern="/^\d{5}[-]\d{3}$/" ui-br-cep-mask>
            </md-input-container>
            <md-input-container flex="60">
              <label>Logradouro</label>
              <input required ng-model="logradouro" type="text">
            </md-input-container>
            <md-input-container flex="15">
              <label>Nº</label>
              <input required ng-model="numero" type="number">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="40">
              <label>Bairro</label>
              <input type="text" ng-model="bairro">
            </md-input-container>
            <md-input-container flex="60">
              <label>Complemento</label>
              <input type="text" ng-model="complemento">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex="50">
              <label>Cidade</label>
              <input type="text" required ng-model="cidade">
            </md-input-container>
            <md-input-container flex="50">
              <label>Telefone</label>
              <input required ng-model="telefone" ng-pattern="/^\(?[0]?[1-9]{2}\)? ?[9]?[0-9]{4}\-?[0-9]{4}$/" ui-br-phone-number>
            </md-input-container>
          </div>
          <md-input-container class="md-block">
              <md-select ng-model="selecionarEstado" placeholder="Estado" required>
                <md-option value="{{estado.nome}}" ng-repeat="estado in estados">{{estado.nome}}</md-option>
              </md-select>
          </md-input-container>
            <span>Dados Profissionais</span>

              <md-input-container class="md-block">
                <label>Função/Cargo</label>
                <input required ng-model="cargo">
              </md-input-container>
              <div layout="row">
              <md-input-container flex="50">
                <label>Salario</label>
                <input required ng-model="salario" type="text" ui-money-mask="3">
              </md-input-container>
              <md-input-container flex="50">
                <label>Comissão</label>
                <input required ng-model="comissao">
              </md-input-container>
            </div>
            <div layout="row">
            <md-input-container flex="50">
              <label>Data de Adimissão</label>
              <input required ng-model="adimissao" type="date">
            </md-input-container>

          </div>
					<md-button type="submit" value="submit" class="md-raised md-primary">Salvar</md-button>
     			</form>
			</md-card-content>
		</md-card>
	</md-content>
</div>
