<div layout="column" ng-controller="adminCargosInserirCtrl">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>					    
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<md-content class="md-padding">
    	<md-card>      
     		<md-card-content>
				<form name="form" ng-submit="inserirCargo()">
					<span>Cargos</span>
					<md-input-container class="md-block">
						<label>Nome do Cargo</label>
						<input required ng-model="nome" type="text">
					</md-input-container>
					<md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Salvar</md-button>
					<md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
     			</form>
			</md-card-content>
		</md-card>
	</md-content>	
</div>


