<div layout="column" ng-controller="estoqFornecedoresEditarCtrl" ng-init="consultar()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<md-content class="md-padding">
    	<md-card>
     		<md-card-content>
				<form name="form" ng-submit="editarFornecedores()">
					<span>Dados Gerais</span>

					<md-input-container class="md-block">
						<label>Razão Social</label>
						<input required ng-model="fornecedores.fornecedor.razaoSocial" type="text">
					</md-input-container>
					<md-input-container flex="50">
						<label>Nome Fantasia</label>
						<input type="text" ng-model="fornecedores.fornecedor.nomeFantasia">
					</md-input-container>

					<div layout="row">
						<md-input-container flex="50">
							<label>CPF/CNPJ</label>
							<input required ng-model="fornecedores.fornecedor.cpf_cnpj" ng-pattern="/([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})$/" ui-br-cpfcnpj-mask>
						</md-input-container>
					<md-input-container flex="50">
				<!--	<label>Telefone</label>
							<input required ng-model="telefone" ng-pattern="/^\(?[0]?[1-9]{2}\)? ?[9]?[0-9]{4}\-?[0-9]{4}$/" ui-br-phone-number>
						</md-input-container> -->
					</div>
						<div layout="row">
						<md-input-container flex="50">
							<label>Inscrição Municipal</label>
							<input type="text" ng-model="inscriMunicipal">
						</md-input-container>
						<md-input-container flex="50">
							<label>Inscrição Estadual</label>
							<input type="text" ng-model="inscriEstadual">
						</md-input-container>
					</div>
					<span>Endereço</span>
					<div layout="row">
						<md-input-container flex="25">
							<label>CEP</label>
							<input required ng-model="cep" ng-pattern="/^\d{5}[-]\d{3}$/" ui-br-cep-mask>
						</md-input-container>
						<md-input-container flex="60">
							<label>Logradouro</label>
							<input required ng-model="logradouro" type="text">
						</md-input-container>
						<md-input-container flex="15">
							<label>Nº</label>
							<input required ng-model="numero" type="number">
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container flex="40">
							<label>Bairro</label>
							<input type="text" ng-model="bairro">
						</md-input-container>
						<md-input-container flex="60">
							<label>Complemento</label>
							<input type="text" ng-model="complemento">
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container flex="60">
							<label>Cidade</label>
							<input type="text" required ng-model="cidade">
						</md-input-container>

					</div>
					<md-input-container class="md-block">
							<md-select ng-model="selecionarEstado" placeholder="Estado" required>
								<md-option value="{{estado.nome}}" ng-repeat="estado in estados">{{estado.nome}}</md-option>
							</md-select>
          </md-input-container>
						<span>Dados Bancários</span>
						<div layout="row">
							<md-input-container flex="30">
								<label>banco</label>
								<input required ng-model="banco">
							</md-input-container>
							<md-input-container flex="30">
								<label>Agência</label>
								<input required ng-model="agencia">
							</md-input-container>
							<md-input-container flex="30">
								<label>Conta</label>
								<input required ng-model="conta">
							</md-input-container>
							<md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Salvar</md-button>
							<md-button type="button" class="md-accent md-raised right" ng-click="excluir()">Excluir</md-button>
							<md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
     			</form>
			</md-card-content>
		</md-card>

    <md-card>
        <md-card-content>
        <form name="form3" ng-submit="inserirTelefone()">
          <span>Inserir telefone</span>
          <md-input-container class="md-block">
              <label>Telefone</label>
              <input required ng-model="campoTelefone" ng-pattern="/^\(?[0]?[1-9]{2}\)? ?[9]?[0-9]{4}\-?[0-9]{4}$/" ui-br-phone-number>
          </md-input-container>
          <md-button type="submit" value="submit" ng-disabled="form3.$invalid" class="md-raised md-primary right">Inserir</md-button>
          <md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
          </form>
      </md-card-content>
    </md-card>

      <mdt-table table-card="{visible: true, title: 'Telefones'}"
                 selectable-rows="true"
                 alternate-headers="'contextual'"

                 delete-row-callback="deletarTelefone(rows)">
        <mdt-header-row>
          <mdt-column align-rule="left">Telefones</mdt-column>
        </mdt-header-row>
        <mdt-row
                 ng-repeat="telefone in telefones"
                 table-row-id="telefone.id">
          <mdt-cell>{{telefone.telefone}}</mdt-cell>
        </mdt-row>
      </mdt-table>

      <br>

      <md-card>
        <md-card-content>
        <form name="form2" ng-submit="inserirEmail()">
          <span>Inserir Email</span>
          <md-input-container class="md-block">
              <label>Email</label>
              <input required ng-model="campoEmail" type="email">
          </md-input-container>
          <md-button type="submit" value="submit" ng-disabled="form2.$invalid" class="md-raised md-primary right">Inserir</md-button>
          <md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
          </form>
      </md-card-content>
    </md-card>

      <mdt-table table-card="{visible: true, title: 'Emails'}"
                 selectable-rows="true"
                 alternate-headers="'contextual'"

                 delete-row-callback="deletarTelefone(rows)">
        <mdt-header-row>
          <mdt-column align-rule="left">Emails</mdt-column>
        </mdt-header-row>
        <mdt-row
                 ng-repeat="email in emails"
                 table-row-id="email.id">
          <mdt-cell>{{email.email}}</mdt-cell>
        </mdt-row>
      </mdt-table>
	</md-content>
</div>
