<div layout="column" ng-controller="estoqFornecedoresInserirContatosCtrl" ng-init="consultar()">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button ng-click="toggleLeft()" class="md-button" hide-gt-md="" aria-label="Menu">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>{{name}}</span>
			</h2>
		</div>
	</md-toolbar>
	<div class="spaceToolbar"></div>
	<md-content class="md-padding">
    	<md-card>
     		<md-card-content>
				<form name="form" ng-submit="inserirTelefone()">
          <span>Inserir telefone</span>
          <md-input-container class="md-block">
              <label>Telefone</label>
              <input required ng-model="telefone" ng-pattern="/^\(?[0]?[1-9]{2}\)? ?[9]?[0-9]{4}\-?[0-9]{4}$/" ui-br-phone-number>
          </md-input-container>
					<md-button type="submit" value="submit" ng-disabled="form.$invalid" class="md-raised md-primary right">Inserir</md-button>
          <md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
     			</form>
			</md-card-content>
		</md-card>

      <mdt-table table-card="{visible: true, title: 'Telefones'}"
                 selectable-rows="true"
                 alternate-headers="'contextual'"

                 delete-row-callback="deletarTelefone(rows)">
        <mdt-header-row>
          <mdt-column align-rule="left">Telefones</mdt-column>
        </mdt-header-row>
        <mdt-row
                 ng-repeat="telefone in telefones"
                 table-row-id="telefone.id">
          <mdt-cell>{{telefone.telefone}}</mdt-cell>
        </mdt-row>
      </mdt-table>

      <br>

      <md-card>
        <md-card-content>
        <form name="form2" ng-submit="inserirEmail()">
          <span>Inserir Email</span>
          <md-input-container class="md-block">
              <label>Email</label>
              <input required ng-model="email" type="email">
          </md-input-container>
          <md-button type="submit" value="submit" ng-disabled="form2.$invalid" class="md-raised md-primary right">Inserir</md-button>
          <md-button type="button" class="md-raised right" ng-click="cancelar()">Cancelar</md-button>
          </form>
      </md-card-content>
    </md-card>

      <mdt-table table-card="{visible: true, title: 'Emails'}"
                 selectable-rows="true"
                 alternate-headers="'contextual'"

                 delete-row-callback="deletarTelefone(rows)">
        <mdt-header-row>
          <mdt-column align-rule="left">Emails</mdt-column>
        </mdt-header-row>
        <mdt-row
                 ng-repeat="email in emails"
                 table-row-id="email.id">
          <mdt-cell>{{email.email}}</mdt-cell>
        </mdt-row>
      </mdt-table>
	</md-content>
</div>
